.Header{
    background-image: url("../assets/images/cargo1.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10rem;
}
.active{
    color:red;
  }
.join{
position: absolute;
top:50%;
left: 9rem;
}

.join_team{
    font-size: 6rem;
    color: white;
}


.main_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
.navbar_brand img{
    width: 20rem;
    padding: 2rem;
}
.spacer{
    flex: 1;
}

/*  nav_items*/
.deskstop.nav_items{
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style: none;
}

.deskstop.nav_items li{
    padding: 2rem;
    font-size: 1.5rem;  
    letter-spacing: .2rem;
}
.nav_link{
    color: white;
    font-size: 2rem;
}
.nav_link:hover{
    color: white;
    text-decoration: none;
    border-bottom:2px solid skyblue;
}
.mobileView{
    display: none;
}
@media only screen and (max-width: 768px) {

    /* Hamburger */

    .hamburger{
        position: absolute;
        right: 10%;
        top: -1%;
    }

    .hamburger2{
        position: absolute;
        right: 10%;
        top: 2%;
    }
.hamburger .line{
    width: 40px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }

  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  .showHamburger{
      display: none;
  }
  
    
    .main_nav{
        display: flex;
        flex-direction: column;
        position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

.nav_items li{
    padding:1rem 2rem;
    font-size: 1.2rem;  
    letter-spacing: .2rem;
}
.showHamburger{
    margin-top:2rem ;
    display:block;
}

.nav_items{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
}
.nav_itemsOpen{
    opacity:0;
}
/* .nav_items{
    display: none;
} */
.nav_items2{
    display: block;
}
.mobile_nav_items{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    margin-top: -2rem;
}

.mobile_nav_items li{
    padding: 1rem 2rem;
    font-size: 1.5rem;  
    letter-spacing: .2rem;
}
 .mobileView{
    display: block;
} 

.deskstop{
    display: none !important ;
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

  .join_team {
    font-size: 4rem;
  }
  .viewbtn{
padding: .2rem 2rem;
font-size: 1.5rem;
background: none;
color: #fff;
border-radius: 2rem;
border: 1.5px solid #fff;

}

}
.viewbtn{
padding: .4rem 4rem;
font-size: 2.5rem;
background: none;
color: #fff;
border-radius: 4rem;
border: 1.5px solid #fff;
 transition: all .2s ease-in-out;
}

.viewbtn:hover{
    background: #fff;
    color:skyblue;
    transform: scale(1.1);

   
}
.viewbtn:focus{
    outline: none;
}

.vgg-section{
text-align: center;   
    padding: 6rem 0;
    width: 60%;
    margin: 2rem auto;
}

.vgg-section-paragraph{
padding-bottom: 2rem;
    font-size: 2rem;
    color:  var(--color-darkGreen);
}

.viewbtntwo{
padding: .4rem 4rem;
font-size: 2rem;
background: var( --color-darkGreen);
color: #fff;
border-radius: 4rem;
border: 1.5px solid #fff;
 transition: all .2s ease-in-out;
}

.viewbtntwo:hover{
   border: 1.5px solid  var(--color-darkGreen);
    transform: scale(1.02);
background: none;
color:  var(--color-darkGreen);
   
}

.viewbtntwo:focus{
    outline: none;
}


.navbar-light .navbar-nav .nav-link{
    color: #fff;
}


@media only screen and (max-width: 868px) {

}




/* LANDING PAGE STYLING */

/* body{
    background: #000;
} */

.landing-header {
  z-index: 1;
  position: relative;
  /* text-align: center; */
  padding-top: 40vh;
  color: black;

}

.landing-header p {
  color: white;
}


.slideshow { 
  /* position: fixed; */
  width: 100%;
  height: 30vh;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}



.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}



.slideshow li:nth-child(1) { 
  background-image: url("../assets/images/parcel3.jpg") 
}
.slideshow li:nth-child(2) { 
  background-image: url("../assets/images/parcel4.jpg");
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url("../assets/images/parcel3.jpg");
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url("../assets/images/parcel4.jpg");
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url("../assets/images/parcel3.jpg");
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}