
.jobView .jobtext{
    text-align: center;
    margin-top: 10rem;
}

.jobView .jobtext h1{
    padding-bottom: 2.5rem;
    font-size: 3.2rem;
    
}
.jobView .jobtext p{
    padding-bottom: 2.5rem;
    font-size: 1.5rem;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    
}

.filter{
    padding:6px 12px;
    font-size: 1.5rem;
    background-color: #fff;
    border: 1px solid #808080;
    color:#808080;
    border-radius: 25px 0 0 25px;
    transition: 0.5s;
}
.filter:hover{
    color: #fff;
    background-color: rgb(21, 48, 39);
}
.dept{
    padding:6px 12px;
    font-size: 1.5rem;
    background-color: #fff;
    border: 1px solid #808080;
    color:#808080;
    /* border: 0 ; */
    transition: 0.5s;
}
.dept:hover{
    color: #fff;
    background-color: rgb(21, 48, 39);
}
.reset{
    padding:6px 12px;
    font-size: 1.5rem;
    background-color: #fff;
    border: 1px solid #808080; 
    color:#808080;
    border-radius: 0 25px 25px 0;
    transition: 0.5s;
}
.reset:hover{
    color: #fff;
    background-color: rgb(21, 48, 39);
}

.JoblistStyle{
    width:65%;
}
/* 
.JoblistStyle hr {
    width: 50%;
} */
.JoblistStyle ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
    align-items: baseline;
}
.JoblistStyle li{
    list-style: none;
  
}

.JoblistStyle .jobDeptList {
    font-size: 2rem;
}
.JoblistStyle .availableJobsList{
    font-size: 1rem;
}
button:active{
    border:none;
}
.notification {
    background: var(--color-darkGreen);
    border: none;
    padding: 8px 20px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    margin:1rem auto;
    border-radius: 25px;
    width: 15%;
    transition: all .2s ease-in-out;
}


.notification:hover{
    background: #fff;
    color:  rgb(21, 48, 39);
    transform: scale(1.1);
    border: 1px solid rgb(21, 48, 39);

   
}

@media only screen and (max-width: 868px) {
  .notification{
     padding: 8px 20px;
    font-size: 1rem;
      width: 20%;
  }


}


.notification:focus{
    outline: none;
}
.jobView_Bg{
    background-image:url(../assets/images/cargo4.jpeg);
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}