.login-parent-container {
  margin-top: 10rem;
  background: #fcfcfe;
}

.login-img {
  background-image: url("../assets/images/logo5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.container-parent {
  position: relative;
}

.login-container {
  width: 80%;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 5rem;
}

.login-img {
  height: 60vh;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 5rem 0rem 0rem 0rem;
}

.login-info {
  text-align: center;
  width: 50%;
  color: rgb(56, 54, 54);
}
.hmmm{
    color: white;
}
.sign {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5rem;
  padding-top: 2rem;
}
.log {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5rem;
  padding-top: 2rem;
}
.fullname {
  padding: 1rem;
  font-size: 1.5rem;
  width: 30rem;
  outline: none;
  margin-bottom: 2rem;

  border-style: none none groove none;
}
.name {
  padding: 1rem;
  font-size: 1.5rem;
  width: 30rem;
  outline: none;
  margin-bottom: 2rem;

  border-style: none none groove none;
}
.password {
  padding: 1rem;
  font-size: 1.5rem;
  width: 30rem;
  outline: none;
  margin-bottom: 2rem;

  border-style: none none groove none;
}
.form-btn {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem 2rem;
  background: var(--color-lightGreen);
  border-radius: 2rem;
  transition: all 0.5s;
  border: none;
  outline: none;
}

.form-btn:active {
  outline: none;
  border: none;
}

.forms {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

.form-btn:hover {
  font-size: 2rem;
  color: #fff;
  transition: all 0.5s ease-out;
  background: var(--color-darkGreen);
}

.form-btn:focus{
    outline: none;
}

 .member {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.errordesign {
  width: 50%;
  /* margin: 6.5rem auto; */
  position: absolute;

  left: 45%;
  top: 4.5rem;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  text-align: center;
  color: red;
  /* border-bottom: 2px solid green; */
}
